        body{
            background: #474747;
            margin: 0px;
            padding: 0px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif 
        }
        h1{
            color: #32bd08;
        }
        img{
            border-radius: 50%;
            float: right;
        }
        #container {
            width: 70%;
            margin-left: auto;
            margin-right: auto;
            padding: 15px;
            background: #fff;            
        }
        #details{
            margin-top: -10px; 
        }
        legend{
            margin-left: auto;
            margin-right: auto; 
            color: #32bd08;
            border-radius: 5px;
            padding: 5px;
        }
        fieldset{
            margin-top: 20px;
            border: 1px solid #32bd08;
            border-radius: 5px;
        }
        